<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Explora Kokoshop: la tienda online para encontrar las mejores prendas de moda. ¡Novedades, personalización y beneficios exclusivos!">
    <meta name="keywords" content="moda femenina, tienda online, ropa personalizada, estilo único, Kokoshop">
    <meta name="cache-control" content="no-cache">
    <title>KOKOSHOP | Tu Estilo Único</title>
    <link rel="icon" href="images/KSLogo-transformed.jpeg" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/asesoria-nosotros.css}">
</head>

<body>
    <!-- Incluir el fragmento de la barra de navegación -->
    <header id="main-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3 logo_section">
                    <div class="logo">
                        <img th:src="@{/images/LOGOKoko-transformed.png}" alt="Logo Imagen" id="logo_koko">
                    </div>
                </div>
                <div class="col-5 menu-bar">

                </div>

                <div class="col-4 login">
                    <div class="login-registrarse" th:unless="${isAuthenticated}">
                        <a class="btn-lr" href="/login">Iniciar sesión</a>
                        <a class="btn-lr" href="/registro">Registrarse</a>
                    </div>

                    <div class="navbar-nav">
                        <div class="dropdown " th:if="${isAuthenticated}">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" th:text="${username}"
                                style="display: inline-flex;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">

                                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                                    <li><a class="dropdown-item" th:href="@{/usuarios/}">Usuarios</a></li>
                                    <li><a class="dropdown-item" th:href="@{/empleados/}">Empleados</a></li>
                                    <li><a class="dropdown-item" th:href="@{/productos/}">Productos</a></li>
                                    <li><a class="dropdown-item" th:href="@{/ventas}">Ventas</a></li>
                                </div>

                                <div sec:authorize="hasAuthority('ROLE_EMPLEADO')">
                                    <li><a class="dropdown-item" th:href="@{/ventas}">Ventas</a></li>
                                </div>

                                <div sec:authorize="hasAuthority('ROLE_CLIENTE')">
                                    <li><a class="dropdown-item"
                                            th:href="@{/cliente/mis-compras/{email}(email=${username})}">Mis Compras</a>

                                    </li>
                                </div>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <div sec:authorize="isAuthenticated()">
                                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                                </div>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <center>
            <div class="nav-bar">
                <nav class="main-menu">


                    <a th:href="@{/}">Principal</a>

                    <a th:href="@{catalogo}">Catálogo</a>

                    <a th:href="@{nosotros}">Nosotros</a>

                    <a th:href="@{/asesoria}">Asesoria</a>
                </nav>
            </div>
        </center>

    </header>
    <main>
        <div class="container-info">
            <h2 class="section-title ">Asesorías</h2>
            <div class="row info-section">
                <!-- Asesoría Personalizada -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-image personalizada"></div>
                        <div class="card-body">
                            <div class="card-icon">
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <h5 class="card-title">Asesoría Personalizada</h5>
                            <p class="card-text">Obtén asesoramiento personalizado para encontrar las prendas que mejor
                                se
                                adapten a tu estilo y personalidad. Nuestros expertos te guiarán en la elección de
                                outfits para
                                cualquier ocasión.</p>
                            <a href="https://wa.me/c/573219313578" class="btn btn-custom card-link">Solicitar
                                Asesoría</a>
                        </div>
                    </div>
                </div>
                <!-- Asesoría de Estilo -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-image estilo"></div>
                        <div class="card-body">
                            <div class="card-icon">
                                <i class="fas fa-palette"></i>
                            </div>
                            <h5 class="card-title">Asesoría de Estilo</h5>
                            <p class="card-text">Descubre tu estilo único con la ayuda de nuestros estilistas
                                profesionales. Te
                                ayudaremos a definir un guardarropa que refleje tu esencia y te haga sentir confiada y
                                auténtica.</p>
                            <a href="https://wa.me/c/573219313578" class="m-2 btn btn-custom">Descubrir más</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Asesoría de Tendencias -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-image tendencias"></div>
                        <div class="card-body">
                            <div class="card-icon">
                                <i class="fas fa-chart-line"></i>
                            </div>
                            <h5 class="card-title">Asesoría de Tendencias</h5>
                            <p class="card-text">Mantente al día con las últimas tendencias de la moda. Nuestro equipo
                                de
                                asesores te proporcionará información actualizada sobre lo que está en tendencia y cómo
                                incorporarlo en tu estilo diario.</p>
                            <a href="https://wa.me/c/573219313578" class="btn btn-custom">Explorar Tendencias</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>