
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none !important;
        transition: 0.5s;
    }

    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(120deg, #391f53, #000000);
        color: #f5ccd4;
        scroll-behavior: smooth;
    }

    .section-title {
        font-family: "Lilita One", sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 30px;
        color: #f5ccd4;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        position: relative;
    }

    .section-title::after {
        content: "";
        display: block;
        width: 80px;
        height: 4px;
        background: #f5ccd4;
        margin: 10px auto 0;
        border-radius: 2px;
    }

    .card {
        border: none;
        margin-bottom: 2.5rem;
        background-color: #1a1a1a;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
        position: relative;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

    .card-body {
        padding: 2.5rem;
        position: relative;
        z-index: 1;
    }

    .card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #391f53, #b8a4c9);
        clip-path: circle(15% at 10% 10%);
        z-index: 0;
        transition: clip-path 0.5s ease;
    }

    .card:hover::before {
        clip-path: circle(75% at 50% 50%);
    }

    .card-title {
        color: #f5ccd4;
        font-weight: bold;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-size: 1.75rem;
        position: relative;
        z-index: 2;
        font-family: "Lilita One", sans-serif;
    }

    .card-text {
        color: #f5ccd4;
        font-size: 1.1rem;
        line-height: 1.8;
        position: relative;
        z-index: 2;
    }

    .location-map {
        border: none;
        height: 350px;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s;
    }

    .location-map:hover {
        transform: scale(1.02);
    }

    .location {
        background-color: #1a1a1a;
        padding: 2.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
    }

    .location::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #391f53, #b8a4c9);
        clip-path: circle(25% at 90% 10%);
        z-index: 0;
        transition: clip-path 0.5s ease;
    }

    .location:hover::before {
        clip-path: circle(75% at 50% 50%);
    }

    .location h5 {
        color: #f5ccd4;
        position: relative;
        z-index: 2;
        font-family: "Lilita One", sans-serif;
    }

    .location p {
        color: #f5ccd4;
        font-size: 1.1rem;
        position: relative;
        z-index: 2;
    }

    .container {
        max-width: 1200px;
        margin: 130px auto 50px;
        padding: 0 20px;
    }

    @media (max-width: 768px) {
        .card-body {
            padding: 2rem;
        }

        .section-title {
            font-size: 2rem;
        }

        .card-title {
            font-size: 1.5rem;
        }

        .card-text {
            font-size: 1rem;
        }

        .location {
            padding: 2rem;
        }

        .location p {
            font-size: 1rem;
        }
    }
    .main-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }

        .nav-bar {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .main-menu a {
            padding: 10px 15px;
            text-decoration: none;
            color: #f5ccd4;
            font-weight: 600;
            transition: color 0.3s ease;
        }

        .main-menu a:hover {
            color: #ff86c4;
        }

</style>
<center>
    <div class="nav-bar">
        <nav class="main-menu">

            <a class="nav-link" th:href="@{/index}">Principal</a>

            <a th:href="@{catalogo}">Catálogo</a>

            <a th:href="@{nosotros}">Nosotros</a>

            <a th:href="@{/asesoria}">Asesoria</a>
        </nav>
    </div>
</center>
<div class="container">
    <h2 class="section-title">Nosotros</h2>
    <div class="row">
        <!-- Misión -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Misión</h5>
                    <p class="card-text">En Kokoshop, nuestra misión es ofrecer una experiencia de compra en línea personalizada y amigable,
                         proporcionando una selección cuidadosamente curada de ropa femenina de alta calidad. Nos comprometemos a inspirar a nuestras clientas con las últimas tendencias y a promover la diversidad y la inclusión,
                          creando un espacio donde cada mujer pueda encontrar su estilo único.</p>
                </div>
            </div>
        </div>
        <!-- Visión -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Visión</h5>
                    <p class="card-text">Kokoshop aspira a convertirse en la tienda de ropa femenina líder en el mercado, 
                        destacándose por ofrecer piezas únicas que combinan estilo, comodidad y accesibilidad. Nuestro objetivo es empoderar a las mujeres de todas las edades y tallas,
                         proporcionándoles ropa que no solo las haga lucir bien, sino que también las haga sentir seguras y auténticas. Nos visualizamos como un referente global en moda.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Nosotros -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nosotros</h5>
                    <p class="card-text">¡Descubre la nueva era de la moda femenina en nuestra tienda online! Desde prendas personalizadas hasta experiencias de compra en 3D y recomendaciones de estilo, estamos redefiniendo la forma en que te relacionas con la moda.

                        Únete a nosotros para explorar colecciones exclusivas, colaboraciones con diseñadores emergentes y beneficios VIP que te harán sentir especial en cada compra. Sumérgete en la innovación y descubre tu estilo único con nosotros.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Ubicación -->
        <div class="col-md-12">
            <div class="card location">
                <div class="card-body">
                    <h5 class="card-title">Ubicación</h5>
                    <p class="card-text">Encuéntranos en nuestra tienda principal o visita nuestra tienda en línea para descubrir nuestras últimas colecciones:</p>
                    <p class="card-text"><strong>Dirección:</strong> Quiroga calle 40, Bogotá, Colombia.</p>
                    <!-- Mapa integrado -->
                    <iframe
                        class="location-map"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11209.072868276553!2d-74.14402175539946!3d4.59829808980877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1710714810135!5m2!1ses-419!2sco"
                        allowfullscreen=""
                        loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>