<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Explora Kokoshop: la tienda online para encontrar las mejores prendas de moda. ¡Novedades, personalización y beneficios exclusivos!">
    <meta name="keywords" content="moda femenina, tienda online, ropa personalizada, estilo único, Kokoshop">
    <meta name="cache-control" content="no-cache">
    <title>KOKOSHOP | Tu Estilo Único</title>
    <link rel="icon" href="images/KSLogo-transformed.jpeg" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/asesoria-nosotros.css}">

</head>

<body>
    <!-- Incluir el fragmento de la barra de navegación -->
    <header id="main-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3 logo_section">
                    <div class="logo">
                        <img th:src="@{/images/LOGOKoko-transformed.png}" alt="Logo Imagen" id="logo_koko">
                    </div>
                </div>
                <div class="col-5 menu-bar">

                </div>
                <div class="col-4 login">
                    <div class="login-registrarse" th:unless="${isAuthenticated}">
                        <a class="btn-lr" href="/login">Iniciar sesión</a>
                        <a class="btn-lr" href="/registro">Registrarse</a>
                    </div>

                    <div class="navbar-nav">
                        <div class="dropdown " th:if="${isAuthenticated}">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" id="dropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" th:text="${username}"
                                style="display: inline-flex;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">

                                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                                    <li><a class="dropdown-item" th:href="@{/usuarios/}">Usuarios</a></li>
                                    <li><a class="dropdown-item" th:href="@{/empleados/}">Empleados</a></li>
                                    <li><a class="dropdown-item" th:href="@{/productos/}">Productos</a></li>
                                    <li><a class="dropdown-item" th:href="@{/ventas}">Ventas</a></li>
                                    <li><a class="dropdown-item" th:href="@{/dashboard/}">Dashboard</a></li>
                                </div>

                                <div sec:authorize="hasAuthority('ROLE_EMPLEADO')">
                                    <li><a class="dropdown-item" th:href="@{/ventas}">Ventas</a></li>
                                </div>

                                <div sec:authorize="hasAuthority('ROLE_CLIENTE')">
                                    <li><a class="dropdown-item"
                                            th:href="@{/cliente/mis-compras/{email}(email=${username})}">Mis Compras</a>

                                    </li>
                                    <li><a class="dropdown-item"
                                            th:href="@{/carrito/ver/{email}(email=${username})}">Carrito</a>

                                    </li>
                                </div>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <div sec:authorize="isAuthenticated()">
                                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                                </div>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <center>
            <div class="nav-bar">
                <nav class="main-menu">


                    <a th:href="@{/}">Principal</a>

                    <a th:href="@{catalogo}">Catálogo</a>

                    <a th:href="@{nosotros}">Nosotros</a>

                    <a th:href="@{/asesoria}">Asesoria</a>
                </nav>
            </div>
        </center>

    </header>
    <main>

        <div class="container-info">
            <h2 class="section-title">Nosotros</h2>
            <div class="row info-section">
                <!-- Misión -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Misión</h5>
                            <p class="card-text">En Kokoshop, nuestra misión es ofrecer una experiencia de compra en
                                línea
                                personalizada y amigable,
                                proporcionando una selección cuidadosamente curada de ropa femenina de alta calidad. Nos
                                comprometemos a inspirar a nuestras clientas con las últimas tendencias y a promover la
                                diversidad y la inclusión,
                                creando un espacio donde cada mujer pueda encontrar su estilo único.</p>
                        </div>
                    </div>
                </div>
                <!-- Visión -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Visión</h5>
                            <p class="card-text">Kokoshop aspira a convertirse en la tienda de ropa femenina líder en el
                                mercado,
                                destacándose por ofrecer piezas únicas que combinan estilo, comodidad y accesibilidad.
                                Nuestro
                                objetivo es empoderar a las mujeres de todas las edades y tallas,
                                proporcionándoles ropa que no solo las haga lucir bien, sino que también las haga sentir
                                seguras
                                y auténticas. Nos visualizamos como un referente global en moda.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row info-section">
                <!-- Nosotros -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nosotros</h5>
                            <p class="card-text">¡Descubre la nueva era de la moda femenina en nuestra tienda online!
                                Desde
                                prendas personalizadas hasta experiencias de compra en 3D y recomendaciones de estilo,
                                estamos
                                redefiniendo la forma en que te relacionas con la moda.

                                Únete a nosotros para explorar colecciones exclusivas, colaboraciones con diseñadores
                                emergentes
                                y beneficios VIP que te harán sentir especial en cada compra. Sumérgete en la innovación
                                y
                                descubre tu estilo único con nosotros.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Ubicación -->
                <div class="col-md-12">
                    <div class="card location">
                        <div class="card-body">
                            <h5 class="card-title">Ubicación</h5>
                            <p class="card-text">Encuéntranos en nuestra tienda principal o visita nuestra tienda en
                                línea para
                                descubrir nuestras últimas colecciones:</p>
                            <p class="card-text"><strong>Dirección:</strong> Quiroga calle 40, Bogotá, Colombia.</p>
                            <!-- Mapa integrado -->
                            <iframe class="location-map"
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11209.072868276553!2d-74.14402175539946!3d4.59829808980877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1710714810135!5m2!1ses-419!2sco"
                                allowfullscreen="" loading="lazy">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>